#image {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
}

#tribute-info {
    margin-left: 8%;
}

#title {
    align-items: center;
    margin-left: 35%;
}

#sub-title {
    align-items: center;
    margin-left: 35%;
}

#main {
    background-color: lightgray;
}

#img-div {
    background-color: white;
}